body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px 0;
}

#map {
  width: 90%;
  height: 600px;
  margin-bottom: 20px;
}

#info {
  width: 90%;
}

#member-list {
  list-style: none;
  padding-left: 0;
}